# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
/grocery/backend/node_modules
/grocery/frontEnd/node_modules

/**/node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.yarn-integrity

**/appspec.yml
**/deploy.lock